@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-sans;
  }
}

html,
body{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100% ;
}

.heading{
  font-size: 32px;
  line-height: 44.8px;
  font-weight: 400;
}

.desc{
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
}

.chart-val{
  font-size: 11px;
  line-height: 13.64px;
  font-weight: 600;
  gap: 10px;
  margin-bottom: 4px;
  justify-content: space-between!important;
}
.chart-val-color {
  width: 6px;
  height: 14px;
  border-radius: 3.5px 3.79px 3.5px 3.79px !important;
}
.chart-main{
  margin-top:1.5rem;
  flex-direction: column;
  width: 80%;
  height: 50%;
  background-color: #171717;
  color: #fff;
  border-radius: 1rem;
  padding: 15px !important;
}

.chart-header{
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 90%;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}